root = true

[*]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml,cmake,clangd}]
indent_size = 2

[CMakeLists.txt]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
